.Mid_Base{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: orange;   
    position: relative;
    top: -235px;

}
.Midden_Base{
    position: relative;
    left: 520px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 30%;
    background-color: green;  

}
.kleine_tekst{
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Anton';

}
.grote_tekst{
    font-size: 40px;
    margin-left: 100px;
    font-family: 'Anton';
}
.aparte_tekst{
    font-size: 40px;
    margin-left: 150px;
    font-family: 'Anton';

}
.img_achtergrond{
     
.img{
    background-image: url("../img/eten_achtergrond.jpg");
    width: ;
    min-height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}