.Mid_Base {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: 250px;
    width: 100%;
    background-color: green;
    position: relative;
    top: 0px;


}

.Midden_Base {
    position: relative;
    left: 520px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 200px;
    width: 30%;
    background-color: green;

}

.kleine_tekst {
    margin-left: 100px;
    margin-top: 50px;
    font-family: 'Anton';

}

.grote_tekst {
    font-size: 40px;
    margin-left: 100px;
    font-family: 'Anton';
}

.aparte_tekst {
    font-size: 40px;
    margin-left: 150px;
    font-family: 'Anton';

}
.grote_tekst2{
    font-size: 40px;
    font-family: 'Anton';
    position: relative;
    left: 65px;

}
.middel_tekst{
    font-size: 30px;
    font-family: 'Anton';
    position: relative;
    left: 65px;
}
.lijst{
    position: relative;
    left: 20px;
    top: 30px;
    line-height: 2.5;
}


.restaurant {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 500px;
    width: 100%;
    background-color: blue;
    position: relative;
    top:0px;
}
.col-2{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 350px;
    width: 400px;
    background-color: white;
    border: 2px solid ;
    border-radius: 8px;
    padding: 5px;
}


.img {
    background-image: url("../img/sushie_achtergrond.jpg");
    width: 100%;
    min-height: 100px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.img_box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 500px;
    width: 100%;

}

.log_in{
    border-radius:25% 10%;
}