* {
    margin: 0;
    padding: 0;
  }
  
.containter{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 150px;
    width: 200px;
    background-color: white;
    border: 1px solid;
    border-radius: 8px;
    padding: 5px;
  
  }
  .menu_kaarten{
    width: 200px;
    height: 150px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
  }
  .wok{
    background-image: url("../img/wokken.jpg");
  }
  .shushi{
    background-image: url("../img/sushis.jpg");
  }
  .dumplings{
    background-image: url("../img/dumplings.jpg");
  }
  .loempia{
    background-image: url("../img/loempia.jpg");
  }
  .pollo{
    background-image: url("../img/pollo\ en\ agridulce.jpg");
  }
  .pla{
    background-image: url("../img/Pla\ Muek\ Yang.jpg");
  }
